/*
--------------------------------------------------------------------------------
Basic Elements
*/
/*<editor-fold desc="Basic Elements">*/
input[type=submit] {
    background-color: #e5bc6e;
    border-radius: 0;
    font-size: inherit;
    color: white;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #e5bc6e 50%, #b3904d 50%);
    transition: background-position 0.3s;
    border: none;
}
ul {
    margin: 0;
}
th {
    color: #e5bc6e;
}

input[type=submit]:hover {
    background-position: -100% 0;
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], 
input[type="search"], input[type="number"], input[type="tel"], input[type="range"], 
input[type="date"], input[type="month"], input[type="week"], input[type="time"], 
input[type="datetime"], input[type="datetime-local"], input[type="color"], 
textarea {
    background-color: transparent;
}
/*</editor-fold>*/
/*
--------------------------------------------------------------------------------
Header
*/
/*<editor-fold desc="Header">*/
.header-icon {
    margin: 10px;
    width: 40px;
    height: 40px;
    background-color: #e5bc6e;
    border-radius: 100%;
    color: white;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    transition: 0.4s ease-in-out;
}
#site-branding {
    height: 70px;
}
#site-branding img {
    max-height: 70px;
    width: auto;      
}
#top-bar {
    font-family: Trirong;
    color: black;
    background-color: white;
    box-shadow: 0px 0px 20px #737373;
}
#top-bar a {
    color: white;
}
#site-branding a {
    color: black;
}
#main-navigation li {
    margin: 10px;
}
#main-navigation {
    margin-top: 15px;
}
#main-navigation-wrapper {
    display: table;
    margin: 0 auto;
}
#main-navigation a {
    color: black;
    text-decoration: none;
    transition: 0.4s ease-in-out;
}
#main-navigation a:hover {
    color: #e5bc6e;
}
.header-icon:hover {
    background-color: #b3904d;
}
#header-icons {
    margin-top: 5px;
    text-align: center;
}
#header-panel * {
    text-align: center;
    font-family: Trirong;
    color: white;
}
#header-panel-content {
    padding: 90px 0;
}
#header-panel-links * {
    font-size: 16px;
    font-style: italic;
}
#header-panel-links h4 {
    display: inline-block;
    padding-left: 10px;
}
#header-panel-links a {
    border-right: 2px solid white;
    padding: 0 20px;
    text-decoration: none;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}
#header-panel-links a:hover {
    color: #e5bc6e;
}
body.home.blog.logged-in #top-bar {
    top: 32px !important;
    z-index: 2 !important;
}
#search-menu {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.95);
}
#search-menu #search-menu-box { 
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
#search-menu-box input {
    border: none;
    background-color: transparent;
    font-size: 50px;
    border-bottom: 2px solid grey;
}
#search-menu-box input:active {
    outline: none;
}
#close-search-btn {
    display: inline-block;
}
#search-icon {
    margin: 10px;
    width: 40px;
    height: 40px;
    background-color: #e5bc6e;
    border-radius: 100%;
    color: white;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    transition: 0.4s ease-in-out;
}
#search-icon i {
    font-size: 20px;
}
#search-icon:hover {
    background-color: #b3904d;
}
/*</editor-fold>*/
/*
--------------------------------------------------------------------------------
Blog FrontPage
*/
/*<editor-fold desc="Blog FrontPage">*/
#blog-posts img {
    visibility: hidden;
}
#blog-img {
    background-size: cover !important;
    height: 100vh;
}
#blog-info {
    height: 100vh;
    padding: 7%;
    display: table;
}
#blog-info-content {
    display: table-cell;
    vertical-align: middle;
}
.read-more-btn {
    cursor: pointer;
    padding: 15px;
    color: white;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #e5bc6e 50%, #b3904d 50%);
    transition: background-position 0.3s;
}
.read-more-btn:hover {
    background-position: -100% 0;
}
#blog-info-content a {
    color: white;
    text-decoration: none;
}
#blog-info span:nth-of-type(1) {
    display: inline-block;
    height: 5px;
    width: 5px;
    background: #e5bc6e;
    border-radius: 2.5px;
    vertical-align: middle;
    margin: 0 5px;
}
#blog-info i {
    color: #d6cece;
}
#blog-info p {
    margin-top: 20px;
    margin-bottom: 30px;
}
.nav-previous {
    text-align: right !important;
}
.nav-next {
    text-align: left !important;
}
.nav-next a, .nav-previous a {
    background-color: #e5bc6e;
    padding: 10px;
    color: white;
    text-decoration: none;
}
.posts-navigation {
    margin-top: 15px !important;
}
/*</editor-fold>*/
/*
--------------------------------------------------------------------------------
Custom Footer
*/
/*<editor-fold desc="Custom Footer">*/
#custom-footer {
    color: #a7a7a7;
    background-color: #1b1a18;
}

#custom-footer input[type=submit] {
    color: #1b1a18;
}
h1, h2, h3, h4, h5, h6 {
    color: #e5bc6e;
}
#custom-footer a {
    color: #e5bc6e;
    text-decoration: none;
}
#custom-footer-divider {
    display: block;
    background: #403f3f;
    height: 1px;
    margin-bottom: 50px;
}
#custom-footer-social-icons {
    text-align: center;
    margin: 50px auto;
}
.custom-footer-social-icon {
    margin: 10px;
    width: 60px;
    height: 60px;
    background-color: #282725;
    border-radius: 100%;
    color: #e5bc6e;
    line-height: 70px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    transition: 0.4s ease-in-out;
}
.custom-footer-social-icon:hover {
    background-color: #e5bc6e;
    color: white;
}
#footer {
    background-color: #11100f;
    color: #a7a7a7;
    padding: 20px 0;
}
#footer a {
    color: #e5bc6e;
}
/*</editor-fold>*/
/*
--------------------------------------------------------------------------------
ScrollToTop Button
*/
/*<editor-fold desc="ScrollToTop Button">*/
#scrolltotop-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    margin: 10px;
    background-color: #e5bc6e;
    color: white;
    transition: 0.2s ease-in-out;
}
#scrolltotop-btn:hover {
    background-color: #b3904d       
}
/*</editor-fold>*/
/*
--------------------------------------------------------------------------------
Single Post
*/
/*<editor-fold desc="Single Post">*/
#single-post-title {
    text-align: center; 
}
#single-post-title a, p {
    color: #999999
}
#single-post-title p {
    display: inline-block;
}
#single-post-title span {
    display: inline-block;
    height: 5px;
    width: 5px;
    background: #e5bc6e;
    border-radius: 2.5px;
    vertical-align: middle;
    margin: 0 5px;
}
#single-post-title-img img {
    visibility: hidden;
}
#single-post-title-img {
    height: 300px;
}
#single-post-title a:nth-of-type(1) {
    text-transform: capitalize;
}
#single-post-container {
    margin-top: 100px;
}
#content-divider {
    background: #e5bc6e;
    height: 2px;
    width: 100%;
    display: block;
    margin: 50px auto;
}
#single-post-tags a:visited{
    color: white;
}
#single-post-sidebar section {
    border: 2px solid #e5bc6e;
    padding: 20px 20px;
}
#single-post-sidebar section:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    right: 0;
    width: 0;
    height: 0;
    border: 18px solid transparent;
    border-top-color: #e5bc6e;
    transform: rotate(-45deg);
}
.comment-list > li {
    padding: 20px;
    margin-bottom: 20px;
}
.comment-list > li:not(:last-child) {
    border-bottom: 2px solid #e5bc6e;
}
.comment-list {
    border: 1px solid #e5bc6e;
    padding: 20px;
    margin-left: 0;
}
.comment-list a:visited {
    color: royalblue;
}
body.post-template-default.single.single-post.logged-in.admin-bar #top-bar {
    top: 32px !important;
    z-index: 2 !important;
}
#single-post-author-img {
    height: 60px;
    width: 60px;
    background-size: cover;
    border-radius: 30px;
}
/*</editor-fold>*/